.cabecalho{
    display: flex;
    background-color: var(--cor-cabecalho);
    justify-content: space-between;
    align-items: center;

}

.container__titulo{
    display: none;
}
.container{
    display: flex;
}

.cabecalho__paragrafo{
    display: none;
}


@media screen and (min-width:820px) {
  
    .container__titulo{
        display: inline;
    }
    .cabecalho__paragrafo{
        display: none;
    }
}

@media screen and (min-width:1024px) {

    .cabecalho__paragrafo{
        display: inline;
    }
    
}